.itemEntry {
    width: 50%;
    height: 300px;
    border: 1px solid;
    border-radius: 20px;
    margin: auto;
    margin-top: 1%;
}

.itemImgEntry {
    width: 50%;
    height: 100%;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
}

img {
    width: 80%;
    height: 100%;
}

.itemTextEntry {
    width: 50%;
    height: 100%;
    float: left;
    padding: 20px;
    margin-top: 1%;
    /* border: 2px solid red; */
}

.bold {
    margin-top: 1%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}